.login-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.login-container{
    width: 50%;
    margin: 5%;
}

.create-account-container{
    width: 50%;
    margin: 5%;
}

h1 {
    text-align: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(255, 255, 255, 0.1);
    width: 20%;
}

.checkmark {
    width: 20px;
    height: 20px;
}

.bullet-point {
    display: flex;
    flex-direction: row;
}

.bullet-point * {
    margin: 5px 10px;
}

.email-input {
    margin-top: 8%;
}

.button {
    display:flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .login-page-container {
      flex-direction: column;
    }

    .login-container{
        width: 90%;
    }

    .create-account-container {
        width: 90%;
    }
}
