.app {
  background-color: #293241;
  height: 100%;

  .brand {
    font-size: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .content {
    margin-top: 2rem;
  }

  .nav-bar {
    background-color: darken(#293241, 1.5%);
  }
}
